.login-card {
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    padding: 0rem 1rem 1.5rem 1rem;

}

.login {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    background-color: #F6F7FB !important;
}

.login-group {
    padding-top: 1.5rem !important;
}

body,.subnav,#reporting  {
    background-color: #F6F7FB;
}

.content-container {
    padding: 0rem 1.5rem 2rem 1.5rem;
}

#vcSummary {
    max-width: 1400px;
}

.collection-timestamp {
    float: right;
    font-size: 14px;
}

.vc-info-widget {
    background: #5580AA;  
    border-radius: 16px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    display: flex;
    overflow: hidden;
}

.vc-info-widget > div {
    padding: 1.5rem;
    border-right: 1px solid #678CB2;
    min-width: 10rem;
}

.vc-info-widget > div:last-child {
    border-right: none;
}

.vc-info-widget .block-title {
    font-weight: 700;
    font-size: 11px;
    line-height: 11px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #A1E6FA;
    margin-top: 0rem;
}

.vc-info-widget .block-main-info {
    font-size: 20px;
    line-height: 18px;
    font-weight: 300;
    color: #FCFCFC;
    margin-top: 0.5rem;
}

.vc-info-widget .block-additional-info {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: #A1E6FA;
    margin-top: 0.5rem;
}
 
.vc-info-widget p {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} 

.vc-info-widget a {
    color: #A1E6FA;
}

.vc-info-widget a img {
    width: 14px;
    margin: 0rem 0.125rem;
}

.tin-table {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    border: none;
    margin-top: 0.5rem;
}

.table th, .table td {
    padding: 0rem;
    border-radius: 0px;
    text-align: left;
}

.tin-table th {
    background-color: #EDEFF7;
    text-transform: uppercase;
    padding: 1rem;
    border: none;
    letter-spacing: 0.5px;
    color: #6D6D6D;
}

.tin-table td {
    padding: 1rem;
    border-color: #EDEFF7;
}
